.wrapper-template {
  padding: 0 20px;
  .dialog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;

    .n.nombre {
      grid-area: 1 / 1 / 2 / 2;
    }
    .n-tipo {
      grid-area: 1 / 2 / 2 / 3;
    }
    .n-modalidad {
      grid-area: 2 / 1 / 3 / 2;
    }
    .n-duracion {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  .dialog-actions {
    justify-content: end;
  }
}
